
<app-header titulo="Administrar Roles">
</app-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label color="primary">Roles registrados</ion-label>
      <ion-button (click)="abrirFormUsuario('')" fill="outline"><ion-icon name="add-circle-sharp"></ion-icon></ion-button>
    </ion-list-header>
    <div *ngFor="let usu of lista">
      <br>
      <ion-item (click)="presentActionSheet(usu)">
        <p><b>{{usu.id}}: </b>{{usu.nombre}}</p>
      </ion-item>
    </div>
    
  </ion-list>
</ion-content>
